<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeCoverage" version="17.3.2" targetFramework="net48" />
  <package id="Microsoft.NET.Test.Sdk" version="17.3.2" targetFramework="net48" />
  <package id="MSTest.TestAdapter" version="2.2.10" targetFramework="net48" />
  <package id="MSTest.TestFramework" version="2.2.10" targetFramework="net48" />
  <package id="Selenium.Support" version="4.5.0" targetFramework="net48" />
  <package id="Selenium.WebDriver" version="4.5.0" targetFramework="net48" />
  <package id="Selenium.WebDriver.ChromeDriver" version="106.0.5249.6100" targetFramework="net48" />
  <package id="Selenium.WebDriver.GeckoDriver" version="0.31.0.1" targetFramework="net48" />
  <package id="Selenium.WebDriver.MSEdgeDriver" version="105.0.1343.27" targetFramework="net48" />
  <package id="System.Runtime.Extensions" version="4.3.1" targetFramework="net48" />
</packages>